.address-div p{
    font-size: 16px;
    
}
.contact-container{
    background-image: url('https://img.freepik.com/free-vector/frame-with-dogs-vector-white-background_53876-127700.jpg?w=1380&t=st=1676229788~exp=1676230388~hmac=476cd966a6ccb97b74f4eb9980509fab2c19ff4b115155982389b234efb79da7');
    background-size: cover;
}